<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col">
                <h1 class="rounded bg-secondary text-white border border-primary mt-2 pt-2 pb-2 text-center"><%= title %></h1>
                <table class="table text-center table-hover table-dark">
                    <caption>List of all genres</caption>
                    <thead>
                        <tr>
                            <th class="bg-info text-white" scope="col">Genre Name</th>
                            <th class="bg-info text-white" scope="col">Album Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% genres?.forEach(genre => { %>
                            <tr>
                                <td><a class="text-white btn btn-sm data-item" href=<%= genre.url %> ><%= genre.name %></a></td>
                                <% for(let key in genres_albums) { %>
                                    <% if(key == genre.name && genres_albums[key] !== undefined) { %>
                                        <td class="bg-secondary text-white align-middle"><%= genres_albums[key] %></td>
                                    <% } %>
                                <% } %>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <hr>
                <hr>
                <nav class="nav nav-pills row nav-fills">
                    <a class="col nav-item btn btn-lg btn-info form-btn" href=<%= "/catalog/genre/create" %>>Create Genre</a>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 
    <\% genres?.forEach(genre => { %>
        <tr>
            <td><\%= genre.name %></td>
            <\% for(let key in genres_albums) { %>
                <\% if(key == genre.name) { %>
                    <td><\%= genres_albums[key] %></td>
                <\% } %>
            <\% } %>
        </tr>
    <\% }) %>
 -->