<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row form-row">
            <div class="col-sm-3">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-md-4 bg-secondary">
                <h1 class="rounded bg-success text-white border border-primary mt-2 pt-2 pb-2 text-center"><%= title %></h1>
                <form action="" method="post" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <label for="cover">Genre Cover</label>
                        <input class="form-control" type="file" name="cover" id="cover" value=<%= genre?.cover_img %> >
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="name">Genre Name</label>
                        <input 
                            class="form-control"
                            type="text" id="name" name="name" placeholder="Genre Name Goes Here...."
                            value=<%= genre?.name %>
                        >
                    </fieldset>
                    <% if(update_flag) { %>
                        <fieldset class="form-group">
                            <label for="admin">Admin Code</label>
                            <input class="form-control" type="text" id="admin" name="admin_code" />
                        </fieldset>
                    <% } %>
                    <button class="btn btn -lg btn-block btn-success form-btn" type="submit">Submit</button>
                </form>
                <hr>
                <hr>
                <h2 class="rounded bg-warning text-dark border border-primary mt-2 pt-2 pb-2 text-center">List Of Errors If There's any: </h4>
                <hr>
                <hr>
                <ul class="list-group list-group-flush">
                    <% if(errors) { %>
                        <% errors?.forEach(error => { %>
                            <li class="alert alert-danger" role="alert"><%= error.msg %> </li>
                        <% }) %>
                    <% } else { %>
                        <li class="list-group-item list-group-item-secondary">There are no Errors</li>
                    <% } %>
                </ul>
                <hr>
                <hr>
            </div>
        </div>
    </div>
</body>
</html>