<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col">
                <table class="table table-dark table-hover">
                    <caption>Informations about Genre details</caption>
                    <thead>
                        <h1 class="rounded bg-success text-white border border-primary mt-2 pt-2 pb-2 text-center">Detail About <%= title %> Genre</h1>
                    </thead>
                    <tbody>
                        <% if(genre.cover_img !== undefined) { %>
                            <tr>
                                <th scope="row">Genre Cover</th>
                                <td class="bg-info" style="text-align: center;"><img style="height: 200px;" src=<%= genre.cover_photo %>  alt="Genre Cover"></td>
                            </tr>
                        <% } %>
                        <tr>
                            <th scope="row">Genre Name</th>
                            <td class="bg-info"><%= title %></td>
                        </tr>
                        <tr>
                            <th scope="row">Album Count</th>
                            <td class="bg-info"><%= genre_albums?.length %></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <hr>
                <h3 class="rounded bg-success text-white border border-primary text-center">Albums List: </h3>
                <ul class="nav nav-pills nav-fill">
                    <% if(genre_albums?.length) { %>
                        <% genre_albums?.forEach(item => { %>
                            <li class="text-primary nav-item border border-primary btn-lg m-2 bg-warning"><a class="nav-link text-secondary" href=<%= "/catalog/album/"+item.id %> ><%= item.name %></a></li>
                        <% }) %>
                    <% } else { %>
                        <li class="text-danger">There are no albums found with this genre</li>
                    <% } %>
                </ul>
                <hr>
                <br>
                <nav class="nav nav-pills row nav-fills">
                    <a class="col nav-item btn btn-lg btn-info form-btn m-1" href=<%= genre.url+"/update" %>>Update</a>
                    <a class="col nav-item btn btn-lg btn-danger form-btn m-1" href=<%= genre.url+"/delete" %>>Delete</a>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>