<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include("./partials/nav.ejs") %>
            </div>
            <div class="col-sm-4">
                <h1><%= title %></h1>
                <form action="" method="post">
                    <fieldset>
                        <label for="name">Album Name</label>
                        <input 
                            type="text" id="name" placeholder="Album Name Goes Here...." required="true"
                            value='<%= album !== undefined ? album?.name : '' %>'
                        >
                    </fieldset>
                    <fieldset>
                        <label for="artist">Artist Name</label>
                        <input 
                            type="text" 
                            id="artist" 
                            name="artist"
                            placeholder="Artist Name Goes Here...."
                            required="true"
                            value='<%= album?.artistName %>'
                        >
                    </fieldset>
                    <fieldset>
                        <label>Album Genre</label>
                        <ul>
                            <li>
                                <input 
                                    type="checkbox" name="metal" id="metal"
                                    <%= genres.includes("Metal") ? "checked" : null %>
                                >
                                <label for="metal">Metal</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="rock" id="rock"
                                    <%= genres?.includes("Rock") ? "checked" : null %>
                                >
                                <label for="rock">Rock</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="r&b" id="r&b"
                                    <%= genres.includes("R&B") ? "checked" : null %>
                                >
                                <label for="r&b">R&B</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="edm" id="edm"
                                    <%= genres.includes("EDM") ? "checked" : null %>
                                >
                                <label for="edm">EDM</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="progressive" id="progressive"
                                    <%= genres.includes("Progressive") ? "checked" : null %>
                                >
                                <label for="progressive">Progressive</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="trance" id="trance"
                                    <%= genres.includes("Trance") ? "checked" : null %>
                                >
                                <label for="trance">Trance</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="pop" id="pop"
                                    <%= genres.includes("Pop") ? "checked" : null %>
                                >
                                <label for="pop">Pop</label>
                            </li>
                        </ul>
                        
                    </fieldset>
                    <fieldset>
                        <label for="r_date">Released Date</label>
                        <input 
                            type="date" name="r_date" id="r_date"
                            value=<%= album?.form_date %>
                        >
                    </fieldset>
                    <fieldset>
                        <label for="descr">Album Description</label>
                        <textarea name="descr" id="descr" rows="2" placeholder="enter description">
                            <%= album?.description %>
                        </textarea>
                    </fieldset>
                    <fieldset>
                        <label for="price">Retail Price</label>
                        <input 
                            type="number" name="price" id="price"
                            value=<%= album?.price %> 
                        >
                    </fieldset>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<!-- 
    <fieldset>
                        <div>Album Genre</div>
                        <ul>
                            <li>
                                <input 
                                    type="checkbox" name="metal" id="metal"
                                    <\%= genres.includes("Metal") ? "checked" : null %>
                                >
                                <label for="metal">Metal</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="rock" id="rock"
                                    <\%= genres?.includes("Rock") ? "checked" : null %>
                                >
                                <label for="rock">Rock</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="r&b" id="r&b"
                                    <\%= genres.includes("R&B") ? "checked" : null %>
                                >
                                <label for="r&b">R&B</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="edm" id="edm"
                                    <\%= genres.includes("EDM") ? "checked" : null %>
                                >
                                <label for="edm">EDM</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="progressive" id="progressive"
                                    <\%= genres.includes("Progressive") ? "checked" : null %>
                                >
                                <label for="progressive">Progressive</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="trance" id="trance"
                                    <\%= genres.includes("Trance") ? "checked" : null %>
                                >
                                <label for="trance">Trance</label>
                            </li>
                            <li>
                                <input 
                                    type="checkbox" name="pop" id="pop"
                                    <\%= genres.includes("Pop") ? "checked" : null %>
                                >
                                <label for="pop">Pop</label>
                            </li>
                        </ul>
                        
                    </fieldset>
 -->


<!-- 
    <fieldset>
                        <label for="genre">Album Genre</label>
                        <select name="genre" id="genre">
                            <option 
                                value="metal"
                            >Metal</option>
                            <option value="r&b">R&B</option>
                            <option value="rock">Rock</option>
                            <option value="edm">EDM</option>
                            <option value="progressive">Progressive</option>
                            <option value="trance">Trance</option>
                            <option value="pop">Pop</option>
                        </select>
                    </fieldset>
 -->